language: python

sudo: false

os:
  - linux

python:
  - '2.6'
  - '2.7'
  - '3.3'
  - '3.4'
  - '3.5'
  - '3.6.0b1'
  - pypy
  - pypy3

install:
  - pip install -U pip
  - pip install -U tox-travis
  - pip install python-coveralls
  - pip install coverage

script: tox -v --recreate

after_success:
  - coveralls

deploy:
    provider: pypi
    server: https://pypi.python.org/pypi
    user: $PYPI_USERNAME
    password: $PYPI_PASSWORD
    on:
        branch: master
        tags: true
        python: '3.4'
